@font-face {
    font-family: "Belligan";
    src: url("/assets/fonts/Belligan.woff") format('woff');
}

h1 {
    font-size:  55px!important;
    font-family: 'Belligan', sans-serif;
    color: #FF6B05
  }
  h2 {
    font-size:  50px!important;
    font-family: 'Belligan', sans-serif;
    color: #FF6B05;
  }
  h3 {
    font-size:  20px!important;
    font-family: 'Belligan', sans-serif;
  }
  h4 {
    font-size:  17px!important;
    font-family: 'Belligan', sans-serif;
  }
  h4 {
    font-size:  15px!important;
    font-family: 'Belligan', sans-serif;
  }
  h5 {
    font-size:  15px!important;
    font-family: 'Belligan', sans-serif;
  }
  h6 {
    font-size:  15px!important;
    font-family: 'Belligan', sans-serif;
  }
  p {
    font-size:  15px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1em;
  }
  small {
    font-size:  12px!important;
    font-family: 'Quicksand', sans-serif;
  }
  .special {
    font-size:  70px!important;
    font-family: 'Quicksand', sans-serif;
  }
  label {
    font-size:  17px;
    font-family: 'Quicksand', sans-serif;
  }

  .nav-link {
    font-family: 'Belligan', sans-serif;   
    color: #4C1A16
  }

  .nav-link:hover {
    color: #FF6B05!important
  }

  .nav-link .active {
    color: #FF6B05!important
  }

  .menu-btn:hover{
      background-color: #FF6B05!important;
      color: #ffffff!important;
  }


  .overlay:hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }


  .mobile-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }

  .mobile-overlay .title {
    text-align: center;
    font-size: 20px!important;
    font-family: Belligan;
    margin: 0 auto;
    position: relative;
    top: 40%;
    color: white;
    opacity: 1;
}

.mobile-overlay .subtext {
  text-align: center;
  margin: 3em auto;
  color: white;
  opacity: 1;
  position: relative;
  top: 35%;
  font-size: 12px!important;
}
  .gallery-overlay:hover {
    top: 60px;
    left: 35px;
    width: 306px;
    height: 523px;
    background: #303030 0% 0% no-repeat padding-box;
    opacity: 0.85;
    position: absolute;
    text-decoration: none;
    color: #fff;
    /*z-index: 9999;*/
  }

  .gallery-overlay .title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: transparent;
    /*z-index: 9999;*/
}

.overlay .title {
    text-align: center;
    font-size: 38px!important;
    font-family: Belligan;
    margin: 0 auto;
    position: relative;
    top: 45%;
    color: white;
    opacity: 1;
}

.overlay .subtext {
  text-align: center;
  margin: 3em auto;
  color: white;
  opacity: 1;
  position: relative;
  top: 40%;
}

hr.dash {
  border: 3px solid #FF6B05;
  width: 80px;
  border-radius: 5px;
  margin: 0 auto;
}

.menu-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu-overlay .title {
    text-align: center;
    font-size: 30px;
}

.overlay .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.80);
    width: 100%;
    margin: 0;
}

.overlay .description p {
    margin: 20px;
}


.socials {
  transform: rotate(90deg);
  background: transparent!important;
}

.icon-bar {
  position: fixed;
  top: 50%;
  bottom: 0;
  right: 0;
  
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.submit:hover {
  background: #4C1A16;
}

.mobile-menu-link {
  color: #5A2C29;
  background: #E8E8E8;
  padding: 1em;
  width: 90%;
  margin: 5px auto;
  font-family: 'Quicksand';
  text-transform: uppercase;
}


.dropbtn {
  margin-top: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4C1A16;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 39px;
  right: 249px;
}

.dropbtn:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #FF6B05;}


@media only screen and (max-width: 1023px) {
  h1 {
    font-size: 24px!important;
  }

  p {
    font-size: 12px!important;
  }
  .mobile-nav {
    padding: 0px!important
  }
}